.goalsCard{
  margin: 0;
  border-radius: 0;
  border: 0;
}
.goalsCard:hover{
  background-color: rgb(204, 173, 233);
}
.fa-trash-alt:hover{
color:#cf5a5a;
box-shadow: gray;
}
.fa-lg{
  color: rgb(100, 97, 97);
}

.tooltip [class$="inner"] {
  padding: 5px;
  background-color: rgba(50, 184, 202, 0.2);
  border: 1px solid rgba(50, 184, 202, 0.377);
  width: 120px;
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before, .bs-tooltip-bottom .arrow::before{
	border-bottom-color: rgba(50, 184, 202, 0.2);
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before, .bs-tooltip-top .arrow::before{
	border-top-color:rgba(50, 184, 202, 0.2) ;
}

.bs-tooltip-auto[x-placement^="left"] .arrow::before, .bs-tooltip-left .arrow::before{
	border-left-color: rgba(50, 184, 202, 0.2);
}

.bs-tooltip-auto[x-placement^="right"] .arrow::before, .bs-tooltip-right .arrow::before{
	border-right-color: rgba(50, 184, 202, 0.2);
}