.myNavbar{
    background-color: rgba(50, 184, 202, 0.377);
    width: 100%;
}

.navImg{
    width: 270px;
}

.logoutButton {
    margin-right: auto;
}

.nav-item{
list-style-type: none;
}

.ogLogo{
    max-height: 40px;
}